
@{
    ViewBag.Title = "Home";
}
<div id="background" class="background-image">
    <div class="container">
        <div class="row index-position text-center">
            <h1>
                <span>Hi, I am Kumar. I build & design Websites,</span>
                <br />
                <span>
                    Web applications, WCF and Web API.<br />
                </span>
                <button type="button" class="btn btn-outline-success font-weight-bold" data-toggle="modal" data-target="#ContactForm">Yes, I'm available. Connect with Me :)</button>
            </h1>
        </div>
    </div>
</div>

<form id="Indexform" runat="server">
    <div class="modal fade" id="ContactForm" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><b>Contact Me</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-justify">
                    <div class="form-group">
                        <div class="row rowheight">
                            <h5 class="text-center">Thanks for your interest, could you please take a moment to introduce yourself</h5>
                        </div>              
                            <div class="row">
                                <div class="col">
                                    @Html.Label("Name", new { @class = "font-weight-bold" })
                                </div>
                                <div class="col">
                                    @Html.TextBox("Name", null, new { @class = "form-control  form-control valid", @data_val = "true", @data_val_required = "Name is required" })
                                </div>
                            </div>
                            <div class="row linehight">
                                <div class="col">
                                    @Html.Label("Email", new { @class = "font-weight-bold" })
                                </div>
                                <div class="col">
                                    @Html.TextBox("Email", null, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row linehight">
                                <div class="col">
                                    @Html.Label("Mobile", new { @class = "font-weight-bold" })
                                </div>
                                <div class="col">
                                    @Html.TextBox("Mobile", null, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row linehight">
                                <div class="col">
                                    @Html.Label("Comments", new { @class = "font-weight-bold" })
                                </div>
                                <div class="col">
                                    @Html.TextArea("Comments", null, new { @class = "form-control" })
                                </div>    
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" name="submit" value="Submit" />
                    @*<asp:Button ID="btnSubmit" CssClass="btn btn-primary" runat="server" Text="Submit" UseSubmitBehavior="false" OnClick="btnSubmit_Click" />*@
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>

